*.opensdf
*.suo
*.sdf
*.user
ipch/
*.ipch
*.filters

# Build results
ComputeShaderExample/Debug
ComputeShaderExample/ComputeShaderExample/Debug
LayeredDepthImageImplementation/Debug
LayeredDepthImageImplementation/LayeredDepthImageImplementation/Debug
LayeredDepthImageImplementation/LayeredDepthImageImplementation/x64
LayeredDepthImageImplementation/x64

.vs/
*/[Dd]ebug/
*/*/[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Bb]in/
[Oo]bj/
[Ll]og/


#Datasets and 3rd Party Library
#3rdPartyLibraries/